/* CSS declarations go here */
header {
  background: black;
  color: white;
  padding: 20px 15px 15px 15px;
  position: relative;
}

h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.loginButtons{
  margin-top: 50px;
}

.scanBtn{
	background-color: white;
    color: black;
    border: 2px solid #555555;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width:200px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-top:50px;
}

.scanBtn:hover{
	background-color: #555555;
    color: white;
}

.displayBtn{
	background-color: white;
    color: black;
    border: 2px solid #555555;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
	font-weight: 700;
  margin-top: 20px;
}

.displayBtn:hover{
	background-color: #555555;
    color: white;
}

.itemsBtn{
  background-color: white;
    color: black;
    border: 2px solid #555555;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}

.itemsBtn:hover{
  background-color: #555555;
    color: white;
}

.homeBtn{
  background-color: white;
    color: black;
    border: 2px solid #555555;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  font-weight: 700;
  margin-top: 50px;
  /*margin-left: 50px;*/
}

.homeBtn:hover{
  background-color: #555555;
    color: white;
}

.payBtn{
  background-color: white;
    color: black;
    border: 2px solid #555555;
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  /*margin-left: 30px;*/
}

.payBtn:hover{
  background-color: #555555;
    color: white;
}

table{
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  width: 100px;
  height: 300px;
  text-align: center;
  /*display: inline-block;*/
}

/*th{
  display: inline-block;
}*/

td{
  color: grey;
  font-weight: 900;

}


h2,p {
  font-family: "Open Sans", sans-serif;
  color: black;
}